/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    font-size: 1rem;
}

/* WRAPPER */

.ms_wrapper {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.ms_main-scroll {
    overflow-y: scroll;
}

/* TYPOGRAPHY */

body {
    font-family: "Roboto" sans-serif;
    
}

.flex {
    display: flex;
}

img {
    height: 100%;
}

.wrap {
    flex-wrap: wrap;
}


/* COLORS */

.bg-content {
    background-color: #f7f8f9;
}

.bg-navbar {
    background-color: #e4e4e4;
}

.bg-sidebar {
    background-color: #051d33;
}

.white {
    color: white;
}

.yellow {
    color: orange;
}

.grey {
    color: grey;
}

/* ASSETS */

.sidebar {
    height: calc(100vh - 70px);
    width: 90px;
}

.rounded-bg {
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    margin: 0 auto;
}


.img-square {
    height: 2rem;
    width: 2rem;
    text-align: center;
}

.img-controlled {
    height: 2rem;
}

.img-rounded-square {
    height: 2rem;
    width: 2rem;
    border: 1px solid gray;
    color: gray;
    border-radius: 10px;
    text-align: center;
}

/*****************************************************
SOLUZIONE RESPONSIVE
******************************************************/
@media  screen and (min-width: 992px) {
    
    .sidebar {
        width: 150px;
    }

    .desktop-none {
        display: none;
    }

}

@media screen and (max-width: 992px) {
    
    .tablet-none {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    .mobile-none {
        display: none;
    }
}